.bread-crumb{
  margin: 20px 0px;
}
.empty{
    position: fixed;
    top: 40%;
    left:40%
}
.spin-loading {
  align-content: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
}