.introduce-col{
  padding: 20px 20px;
  color:white;
  background-color: rgba(18, 197, 195, 1)
}

.introduce-col:last-child{
  background-color: rgba(2, 157, 155, 1);
}

.introduce{
  position: relative;
  top: -35px;
  z-index: 10000;
}

.decription{
  font-size: 15px;
  padding:0px 20px;
}
.title{
  display: block;
  text-align: center;
  font-size: 25px;
  align-items: center;
  line-height: 1.55;
  font-family: 'Source Serif Pro'
}

.button-introduce{
  
}