.menu-item {
  padding: 75px 120px;
  margin: 10px;
  user-select: none;
  cursor: pointer;
  border: none;
  background-color: #ff8f00;
  color: white;
  border-radius: 5px;
}
.menu-item:focus {
  outline:none !important;
}

.scroll-menu-arrow {
  padding: 5px;
  cursor: pointer;
}
*:focus {
  outline:none !important
}
.arrow{
  font-size: 32px ;
  color: #1976d2;
}
