.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh
}

.content-wrap {
  padding-top: 55px;
}

.footer-page {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 90%;
  height: 2.5rem;  
  flex-shrink: 0;          /* Footer height */
}

.main {
  flex: 1 0 auto;
  min-height: 85vh
}

.top-menu {
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  transition: top 1s;
  opacity: 0.9;
  margin-bottom: 60px;
  flex-shrink: 0;
}
