.page-container {
  display: flex;
  flex-direction: column;
}

.content-wrap {
}

.footer-page {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 90%;
  height: 2.5rem;  
  flex-shrink: 0;          /* Footer height */
}

.main {
  flex: 1 0 auto;
  min-height: 65vh;
  padding-top: 55px;
}

.top-menu {
  width: 100%;
  position: fixed;
  opacity: 0.93;
  z-index:1000;
}

#navbar {
  transition: top 0.8s
}

.space-test{
  background-color: aqua;
  height: 200px;
}